* {
	box-sizing: border-box;
}

div {
	display: block;
}

.layers {
	width: 100%;
	overflow-x: hidden;
	display: block;
	min-height: 370px;
	font-family: Roboto,"Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
}

.layers .background {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-image: url(../image/background.jpg);
    background-position: center bottom;
    background-size: cover;
}

.layers .title {
	clear: both;
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5em 0 1em;
    text-align: center;
    display: block;
}

.layers .title a {
	text-decoration: none;
	color: white;
	line-height: 1.42857143;
}

.layers .title h1 {
	font-size: 7vw;
	font-weight: 700;
	margin: 1em .4em;
}

.layers .title h2 {
	font-size: 2vw;
}

.layers .links {
	clear: both;
    overflow: hidden;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,.5);
    display: block;
    color: white;
}

.container {
}

.row {
    margin: 15px 0px;
}

.col-md-5 {
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    margin-left: 6vw;
    margin-top:1vw;
}

.col-md-5:hover {
    background-color: #8cc63f;
}

.icon1 {
    width: 160px;
    height: 160px;
    padding: .7em 2em 1.5em 1em;
}

.icon1 span {
    background-repeat: no-repeat;
    background-position: 0 37.5%;
    background-size: 100% auto;
    display: inline-block;
}

.icon1 span i {
    font-size: 100px;
    color: white;
}

.col-xs-8 h3 {
    font-size: 2rem;
}

.col-xs-8 div p a {
    color: white;
    font-size: 1.3rem;
}

@media only screen and (min-width: 320px) {
    .col-xs-8,.col-xs-6  span{
        text-align: left;
    }
}

@media only screen and (min-width: 480px) {
    .col-xs-6,.col-xs-6 span {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .col-xs-6,.col-xs-6 span {
        text-align: left;
    }
}

@media only screen and (min-width: 720px) {
    .col-xs-6,.col-xs-6 span{
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .col-xs-6,.col-xs-6  span{
        text-align: center;
    }
}

@media only screen and (min-width: 1186px) {
    .col-xs-6,.col-xs-6  span{
        text-align: left;
    }
}